<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CritiX</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style5.css">
  <style>
    /* Add custom CSS styles here */
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f8f8;
    }

    .header {
      background-color: #343a40;
      color: #ffc107;
      text-align: center;
      padding: 5rem 0;
    }

    .header h1 {
      font-size: 2.5rem;
    }

    .header p {
      font-size: 1.5rem;
    }

    .main-container {
      padding: 2rem;
    }

    .user-info {
      background-color: #fff;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .back-link {
      display: block;
      margin-top: 2rem;
      text-align: center;
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
    }

    .footer {
      background-color: #343a40;
      color: #ffc107;
      text-align: center;
      padding: 1rem 0;
    }
  </style>
</head>

<body>
  <header class="header">
    <img src="../images/logo.png" alt="Logo do CritiX" width="100" height="100">
    <h1>Bem-vindo ao CritiX!</h1>
    <p class="lead">Uma plataforma para avaliar filmes.</p>
  </header>

  <main class="container main-container">
    <div class="user-info">
      <h1 class="text-4xl mb-4">Welcome <%= user.nickname %>
      </h1>
      <% if (user.picture) { %>
        <img class="block mx-auto py-3 rounded-full" src="<%= user.picture %>" alt="User Picture" width="200">
        <% } %>
          <p>Nickname: <%= user.nickname %>
          </p>
          <p>Name: <%= user.name %>
          </p>
          <p>Email: <%= user.email %>
          </p>

          <% if (user['https://critix-402174fcc250.herokuapp.com/bio']) { %>
            <p>Bio: <%= user['https://critix-402174fcc250.herokuapp.com/bio'] %></p>
          <% } %>
          <% if (user['https://critix-402174fcc250.herokuapp.com/familyName']) { %>
            <p>Family Name: <%= user['https://critix-402174fcc250.herokuapp.com/familyName'] %></p>
          <% } %>
          <% if (user['https://critix-402174fcc250.herokuapp.com/givenName']) { %>
            <p>Given Name: <%= user['https://critix-402174fcc250.herokuapp.com/givenName'] %></p>
          <% } %>

          <a href="/" class="back-link">Voltar para a Página Inicial</a>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2023 CritiX</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>